*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: url(backround.png)no-repeat center;
    background-size: cover;
}
.profile-card{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0.7em;
    border-radius: 1em;
    color: rgba(255, 255, 255, 0.082);

}
img{
    border-radius: 50%;
    width: 200px;
    cursor: pointer;
}
h3{
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0;
    color: rgb(255, 255, 255);
}
.info p{
    font-weight: 500;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.btn-box{
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.btn-box button{
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid white;
    color: black;
    font-weight: 100;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background: transparent;
    color:#fff;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}
.btn-box button:first-of-type:hover{
    background-color: transparent;
    color: white;
    border: 2px solid cyan;
}
.stats-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    font-size: 16px;
    margin: 20px 30px;
    color: rgb(255, 255, 255);
}
.stats-grid .row{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    font-weight: 500;
    gap: 3px;
    color: rgb(255, 255, 255);
    
}
.stats-grid .row:first-of-type,.stats-grid .row:nth-of-type(2){
    border-right: 3px solid white;
}

